  <body>
    <div>
  
        <a href="{{ url_for('home') }}">Home</a>
        {% if current_user.is_anonymous %}
        <a href="{{ url_for('login') }}">Login</a>
        {% else %}
        <p>Welcome {{current_user.username}}</p>
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
      </div>
      <a href="{{ url_for('add_task') }}">Task Create</a>
      <div class="container">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Priority</th>
              <th>Labels</th>
            </tr>
          </thead>
          <tbody>
            
            {% for row in task %}
            <tr>
              {% if row.id % 2 == 0 %}
              <td>{{row.id}}</td>
              <td>{{row.title}}</td>
              <td>{{row.priority}}</td>
              <td>{{row.labels}}</td>
              {% endif %}
            </tr>
            {% endfor %}
            <tr>
          </tbody>
        </table>
      </div>
  </body>