<h1 style="text-align: center; color: rgb(1, 119, 50);">To Do</h1>
<h2 style="text-align: center; color: rgb(0, 0, 0);">Login</h2>
<form action="" method="post" style="text-align: center;">
   {{ form.hidden_tag() }}
   <div>
      {{ form.email(placeholder="email") }}
      {% for error in form.email.errors %}
      <p>{{ error }}</p>
      {% endfor %}
   </div>
   <br>
   <div>
      {{ form.password(placeholder="password") }}
      {% for error in form.password.errors %}
      <p>{{ error }}</p>
      {% endfor %}
   </div>
   <p>{{ form.remember() }} {{ form.remember.label }}</p>
   <p>{{ form.submit() }}
   </p>
</form>
{% for message in get_flashed_messages() %}
<p style="color: red;">Error : {{ message }}</p>
{% endfor %}
<h3 style="text-align: center;"><a href="{{ url_for('register') }}">Create a new Account!</a></h3>