<h1 style="text-align: center; color: rgb(1, 119, 50);">To Do</h1>
<h2 style="text-align: center; color: rgb(0, 0, 0);">Create task</h2>

<form action="" method="post" style="text-align: center">
   {{ form.hidden_tag() }}
   <div>
      {{ form.title(placeholder="title") }}
      {% for error in form.title.errors %}
      <p>{{ error }}</p>
      {% endfor %}
   </div>
   <br>
   <div>
      {{ form.priority(placeholder="priority") }}
      {% for error in form.priority.errors %}
      <p>{{ error }}</p>
      {% endfor %}
   </div>
   <br>
   <div>
    {{ form.labels(placeholder="label") }}
    {% for error in form.labels.errors %}
    <p>{{ error }}</p>
    {% endfor %}
 </div>
  
   <p>{{ form.submit() }}
   </p>
</form>
{% for message in get_flashed_messages() %}
<p style="text-align: center; color: red;">Error : {{ message }}</p>
{% endfor %}