
  
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tasks</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style type="text/css">
   
    </style>
  </head>
<body>
<div id="us">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">To Do</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('create_task') }}">Create Task</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
    
        <li class="navbar-text">{{current_user.username}}</li>
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>

    </div>
  </nav> 
</div>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <h2 class="flashes" style="color:#045c1e">{{ message }}</h2>
    {% endfor %}
  {% endif %}
{% endwith %}
<div class="ps">

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Priority</th>
        <th>Labels</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for i in tasks %}
      {% for j in user %}
      {% if j.id == i.user_id and j.id==current_user.id%}
      <tr>
       
        <td>{{i.title}}</td>
        <td>{{i.priority}}</td>
        <td>{{i.labels}}</td>
        <td>
          <a class="glyphicon glyphicon-pencil" href="/update/{{i.id}}/{{j.username}}"></a>
        </td>
        <td>
          <a class="glyphicon glyphicon-trash" id="del" href="/delete/{{i.id}}/{{j.username}}"></a>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
      {% endfor %}
      <tr>
    </tbody>
  </table>

</body>
</html>